.expenses-list {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  width: inherit;
}
.expense-item {
  box-shadow: 0px 0px 10px rgba($color: #191919, $alpha: 0.2);
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.expense-item-description {
  margin: 0;
  padding-bottom: 0.2rem;
}

.expense-item-price {
  background-color: royalblue;
  color: #f8f8f8;
  font-weight: bold;

  margin: 0;
  border-radius: 5px;
  padding: 0.4rem;

  text-align: center;
}
